# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.



#below files are ignored while uploading the code to git
DS_GRPC/_pycache_
DS_GRPC/distributed_system_pb2.py
DS_GRPC/distributed_system_pb2_grpc.py
